{% extends 'doctorshots/base.html' %}
{% load staticfiles%}

 {% block titulo %} Welcome to Doctor Shot {% endblock %} 
 {% block body %}<body> {% endblock %}
  {% block header %} <header class="header"> {% endblock %}


  {% block contenedor %} 
 
   {% endblock %}
   
  {% block parallax %}  

  <div   class="parallax-window"  data-parallax="scroll" data-image-src="{% static 'doctorshots/img/header.jpg'%}" >
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
   
    </div>
  
  {% endblock %}