<form action="{% url 'doctorshots:actualizarproducto' %}" method="POST">
    {% csrf_token %}


    <div class="form-group">
        <input type="hidden" name="id" class="form-control" value="{{ producto.id}}" readonly>
    </div>

    <div class="form-group">
        <input type="text" name="codigoProducto" class="form-control" value="{{ producto.codigoProducto }}" readonly>
    </div>

    <div class="form-group">
        <input type="text" name="nombreProducto" class="form-control" value="{{ producto.nombreProducto }}" readonly>
    </div>


    <div class="form-group">
        <input type="number" name="precioVenta" class="form-control" value="{{ producto.precioVenta }}" >
    </div>

    <div class="form-group">
        <input type="number" name="usuario" class="form-control" value="{{ producto.precioVenta }}" >
    </div>

    <div class="form-group">
        <label class="font-drop upper font-color-drop-little">Estado</label><br>
        <select name="Rol" class="browser-default custom-select">                                
                               <option class="font-drop upper font-color-drop-little" value="1" {% if producto.habilitado == '1' %}   selected="selected" {% endif %} >Habilitar</option>

                             
                                    <option class="font-drop upper font-color-drop-little" value="1"  {% elif empleado.habilitado == '2' %} selected="selected" {% endif %}>deshanilitar</option>
                            

                            </select>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <input type="submit" name="accion" value="Editar" class="btn btn-info">
            </div>
           
        </div>
    </div>
</form>