/* Styles para el navbar*/

.header {
    background-size: cover;
    height: 400px;
}

.header .navbar {
    background-color: #000000bf !important;
}

.header .navbar ul .nav-link:hover {
    background-color: #9910CB;
    border-radius: 10px;
}


/* Login */

.body-login {
    background-image: url('../img/oWlyMvz.gif');
}

.header-login {
    background-size: cover;
}

.header-login .navbar {
    background-color: #000000bf !important;
}

.header-login .navbar ul .nav-link:hover {
    background-color: #9910CB;
    border-radius: 10px;
}

.mt-4,
.my-4 {
    margin-top: 1.5rem!important;
    padding-top: 50px;
}

div .card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #00000082;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}


/* Empleado*/

.body-empleado {
    background-image: url('../img/back.gif');
}

.header-empleado {
    background-size: cover;
}

.header-empleado .navbar {
    background-color: #000000bf !important;
}

.header-empleado .navbar ul .nav-link:hover {
    background-color: #9910CB;
    border-radius: 10px;
}

.tabla-emple {
    padding-left: 90px;
    width: 100%;
}

div .opacity {
    background: rgba(0, 0, 0, .5);
}


/* Fin Empleado  */


/*  Inventario */

.body-inventario {
    background-image: url('../img/back.gif');
}

.header-inventario {
    background-size: cover;
}

.header-inventario .navbar {
    background-color: #000000bf !important;
}

.header-inventario .navbar ul .nav-link:hover {
    background-color: #9910CB;
    border-radius: 10px;
}

div div div div div form div.campos {
    color: white;
}

.tamam {
    width: 100%
}

.tabla-inv {
    padding-left: 90px;
    width: 100%;
}


/*  Inventario */

.labelForm {
    color: white;
}